@{
    ViewBag.Title = "Confirmar Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar tu Email. Please @Html.ActionLink("Da clic aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
