@{
    ViewBag.Title = "DEMO Envío de Link";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Por favor, verifica tu bandeja de entrada y valida tu email
</p>
<p class="text-danger">
    Solo para DEMO: Puedes dar clic a este link para confirmar tu email: <a href="@ViewBag.Link">link</a>
    Favor de cambiar este codigo para registrar un email en IdentityConfig para enviar un email.
</p>
