@{
    ViewBag.Title = "Confirmación de olvido de contraseña";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row h-100">
    <div class="col-lg-5 col-12">
        <div id="auth-left">
            <div class="auth-logo">
                <a href="@Url.Action("Index", "Home")"><img src="https://res.cloudinary.com/dj2f7ngpv/image/upload/v1629227087/vane/Logo_hc6hth.jpg" alt="Logo" srcset="" style="width: 80px; height: 80px; align-self: center;"></a>
            </div>
            <h2>@ViewBag.Title.</h2>
            <hr />
            <p>
                Favor de checar su email para reinicializar su contraseña
            </p>
            <p class="text-danger">
                Por prueba: Puede dar clic en este link para reinicializar la contraseña <a href="@ViewBag.Link">link</a>
                Cambia este código para registrar un servicio de email en IdentityConfig para enviar el correo.
            </p>
        </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
        <div id="auth-right" style="text-align: center;">
            <img src="https://images-na.ssl-images-amazon.com/images/I/814aPFny%2BnL._AC_SL1500_.jpg" style="align-self: center; width:1100px;" />
        </div>
    </div>
</div>