@model Proyecto_FunCase_WEBLY.Models.Cliente

<div class="list-group">
    <a data-url="@Html.ActionLink("Details", "Details", new { id = Model.ClienteID })" class="list-group-item">
        Ver mi perfil
    </a>
    <a data-url="@Html.ActionLink("Details", "Details", new { id = Model.ClienteID })" class="list-group-item">
        Cambiar mi perfil
    </a>
</div>