@{
    ViewBag.Title = "NOSOTROS";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">SOLUCION</h2>
            <img src="~/img/cel.jpg" width="100px" height="70px" alt="imgf" />
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <br />
            <h4 style="color: black">
                Personalizamos protectores para smartphones con calidad y un extenso catálogo.
                Reinventamos el servicio al cliente con tiempos de entrega y costos bajos.
            </h4>
        </div>
    </div>

    <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">INNOVACIÓN</h2>
            <img src="~/img/creci.jpg" width="100px" height="70px" alt="imgf" />
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <br />
                <h5 style="color: black">
                    Nos gustaria ser inspiración a jóvenes emprendedores que siguen el camino de innovar.
                    Día a día intentamos hacer la diferencia con una personalizacion de protectores.
                </h5>
            </div>
        </div>
    </div>

    <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">SATISFACCION</h2>
            <img src="~/img/feliz.jpg" width="100px" height="70px" alt="imgf" />
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <br />
            <h4 style="color: black">
                Cada esfuerzo que hacemos vale la pena para lograr la satisfacción de nuestros clientes,
                al recibir un producto único, tal y como lo habían imaginado.
            </h4>
        </div>
    </div>
</div>

