@{
    ViewBag.Title = "CONTACTANOS";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>

<div class="row-fluid">
    <div class="span12">
        <br />
        <h5 style="color: midnightblue">
            CALLE Jose de la luz flores 129, 37408 León, Gto.
        </h5>
        <h5 style="color: midnightblue">
            creatufunda@webly.com.mx
        </h5>
        <h5 style="color: midnightblue">
            4777392010
        </h5>
    </div>
    
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59551.177867433275!2d-101.74944690101155!3d21.11461462821681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bc1098000cf25%3A0xe0814f6dcb2639d!2sCelulares%2C%20Cargadores%2C%20Micas%2C%20audifonos%2C%20fundas%2C%20baterias%2C%20cables%20usb%20tipo%20C%20-%20El%20leon%20dorado.!5e0!3m2!1ses-419!2smx!4v1629232903421!5m2!1ses-419!2smx"
                width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

</div>


