@{
    ViewBag.Title = "INICIO";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.87.0">
    <title>Product example · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/product/">

    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="product.css" rel="stylesheet">
</head>
<body>
    <main>
        <div class="d-md-flex flex-md-equal w-100 my-md-2 ps-md-3">
            <div class="bg-white me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-black overflow-hidden">
                <br /><br /><br /><br />
                <h1 class="display-1 lh-1 mb-3">Plataforma que ofrece variedad y modelos unicos.</h1>
                <p class="lead fw-normal text-muted mb-5">
                    Empresa dedicada a la fabricacion y venta de protectores y fundas con diseños creativos.
                    Podras encontrar innovadores diseños de protectores para cualquier smartphone.
                </p>
            </div>
            <div class="bg-white me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <a href="#!"><img class="app-badge" src="~/img/celInicio.jpg" alt="..." /></a>
                </div>
            </div>
        </div>

    </main>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


