@model IEnumerable<Proyecto_FunCase_WEBLY.Models.Imagen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}



@foreach (var item in Model)
{
    <div class="single-screen">
        <a href="/">
            <img src="@item.Ruta" alt="@item.NombreImagen">
            <label>By: @item.Designer.NombrePresentacion</label>
        </a>
        
    </div>
}

