@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar.</h2>

<h3>¿Esta seguro de querer eliminar este Rol? </h3>
<p>Eliminar este rol removerá todos los usuarios para este rol. No eliminar a todos los usuarios de este rol.</p>
<div>
    <h4>Rol.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        
            <button type="submit" class="btn btn-primary">Eliminar</button> |
            @Html.ActionLink("Regresar al listado", "Index")
    }
</div>
